<div class="page-header">
  <h1>
    Reward calculators
    <a href="/reward_calculators/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Reward calculators (start typing)" class="form-control">
  </div>
</div>

<hr>

<!-- <div class="row isotope-container">
<% @reward_calculators.each do |reward_calculator| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Reward Calculator #<%= reward_calculator.id %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Cash back pct</dt>
          <dd><%= reward_calculator.cash_back_pct %></dd>

          <dt>Credit card</dt>
          <dd><%= reward_calculator.credit_card.name %></dd>

          <dt>Reward</dt>
          <dd><%= reward_calculator.reward.category_name %></dd>

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/reward_calculators/<%= reward_calculator.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <a href="/reward_calculators/<%= reward_calculator.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_reward_calculator/<%= reward_calculator.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div> -->

<!-- Trying Table styled layout but search function not working unfortunately -->
<table class="table table-striped">
<div class="col-lg-12 isotope-item">
<div class="row isotope-container">
  <tr>
    <th>Credit Card Name</th>
    <th>Reward Category</th>
    <th>Cash Back Pct </th>
    <th colspan="3" class="hello">Actions</th>
  </tr>
  <% @reward_calculators.each do |reward_calculator| %>
  <tr>
    <td>
      <%= reward_calculator.credit_card.name %>
    </td>
    <td>
     <%= reward_calculator.reward.category_name %>
    </td>
    <td>
      <%= reward_calculator.cash_back_pct %>
    </td>
    <td>
      <a href="/reward_calculators/<%= reward_calculator.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
    </td>
    <td>
      <a href="/reward_calculators/<%= reward_calculator.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
    </td>
    <td>
      <a href="/delete_reward_calculator/<%= reward_calculator.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
    </td>
  </tr>
  <% end %>
  </div>
  </div>
</table>
<style>
.hello{
  text-align: center;
}
</style>


<!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
