<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Reward Calculator #<%= @reward_calculator.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Cash back pct</dt>
              <dd><%= @reward_calculator.cash_back_pct %></dd>

              <dt>Credit card</dt>
              <dd><%= @reward_calculator.credit_card.name %></dd>

              <dt>Reward</dt>
              <dd><%= @reward_calculator.reward.category_name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/reward_calculators" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/reward_calculators/<%= @reward_calculator.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_reward_calculator/<%= @reward_calculator.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
