
<div class="panel panel-default">
  <div class="panel-body">
    <h2> Hello, <%= current_user.first_name %>!</h2>
    <h3> The best credit card to use for your "<%= Reward.find_by({ :id => @a}).category_name %>" purchase is: </h3>
     <%= select_tag(:credit_card_id, options_from_collection_for_select(@selected_cards, :id, :name), :class => "form-control") %> </br>
    <h3>Your estimated rewards by using the suggested credit card for  your $<%= @dollarvalue %> purchase is: $<%= @est_rewards %> </h3>

  <!-- Filling the Form -->

     <form action="/create_new_transaction" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="best_credit_card" class="col-sm-4 control-label">
      <div class="col-sm-10">
        <% @bestcreditcard.each do |thing| %>

          <input type="hidden" id="credit_card_name" name="credit_card_name" value= "<%= thing.credit_card.name %>" class="form-control" >
          <input type="hidden" id="credit_card_id" name="credit_card_id" value= "<%= thing.credit_card.id %>" class="form-control" >
        <% end %>
      <input type="hidden" id="dollar_rewards" name="dollar_rewards" value= "<%= @est_rewards %>" class="form-control" >
      <input type="hidden" id="user_id" name="user_id" value= "<%= current_user.id %>" class="form-control" >
      <input type="hidden" id="reward_id" name="reward_id" value= "<%= @a %>" class="form-control" >
      <input type="hidden" id="purchase_amt" name="purchase_amt" value= "<%= @dollarvalue %>" class="form-control" >
      <input type="hidden" id="location" name="location" value= "<%= @street_address %>" class="form-control" >

      <button class="btn btn-success">
        Save This Transaction
      </button>
              or
      <a href="/user_credit_cards">Cancel</a>
      </div>
  </div>

<!-- Generating the params Hash parameters -->
 <!--  <input type="hidden" id="dollar_rewards" name="dollar_rewards" value= "<%= @est_rewards %>" class="form-control" >
  <input type="hidden" id="user_id" name="user_id" value= "<%= current_user.id %>" class="form-control" >
  <input type="hidden" id="reward_id" name="reward_id" value= "<%= @a %>" class="form-control" >
  <input type="hidden" id="purchase_amt" name="purchase_amt" value= "<%= @dollarvalue %>" class="form-control" >
  <input type="hidden" id="location" name="location" value= "<%= @street_address %>" class="form-control" >


    <div class="col-sm-4">
      <button class="btn btn-success">
        Save This Transaction
      </button>
              or
      <a href="/user_credit_cards">Cancel</a>

  </div> -->
    </form>
  </div>
</div>

<!-- Logic for the Google Map -->

<% if @x == true %>

<div class="panel panel-default">
  <div class="panel-body">
  <h3> Your Location is: </h3>
  <dt> Latitude: </dt>
  <dd> <%= @latitude %> </dd>
  <dt> Longitude: </dt>
  <dd> <%= @longitude%> </dd>

  <dt>Geolocation Map: </dt>
  <dd>
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8"> -->
<!--
   /* <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>*/ -->

    <div id="map-canvas" style="height: 350px; margin: 50px"></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;

function initialize() {
  var mapOptions = {
    zoom: 6
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Location found using HTML5.'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</dd>
</div>
</div>

<% else %>

<div class="panel panel-default">
  <div class="panel-body">
  <h3> Your Location is: </h3>
  <dt> Latitude: </dt>
  <dd> <%= @latitude %> </dd>
  <dt> Longitude: </dt>
  <dd> <%= @longitude%> </dd>

  <dt>Location Based on User Address: </dt>
  <dd>
    <div id="map-canvas" style= "height: 350px; margin: 50px"></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
      var map;
      function initialize() {

        var myLatlng = new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>);

        var mapOptions = {
          zoom: 15,
          center: myLatlng
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

        var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'Google Map'
          });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </dd>
</dl>
<% end %>
    </div>
</div>
