<!-- Validation failure messages -->

<% if @user_credit_card.errors.any? %>
  <% @user_credit_card.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit User Credit Card #<%= @user_credit_card.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_user_credit_card/<%= @user_credit_card.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @user_credit_card.user_id %>">
            </div>
          </div>

          <!-- Label and input for credit_card_id -->
          <div class="form-group">
            <label for="credit_card_id" class="col-sm-2 control-label">
              Credit card
            </label>
            <div class="col-sm-10">
              <input type="text" id="credit_card_id" name="credit_card_id" placeholder="Credit card" class="form-control" value="<%= @user_credit_card.credit_card_id %>">
            </div>
          </div>

          <!-- Label and input for reward_id -->
          <div class="form-group">
            <label for="reward_id" class="col-sm-2 control-label">
              Reward
            </label>
            <div class="col-sm-10">
              <input type="text" id="reward_id" name="reward_id" placeholder="Reward" class="form-control" value="<%= @user_credit_card.reward_id %>">
            </div>
          </div>

          <!-- Label and input for dollar_rewards -->
          <div class="form-group">
            <label for="dollar_rewards" class="col-sm-2 control-label">
              Dollar rewards
            </label>
            <div class="col-sm-10">
              <input type="text" id="dollar_rewards" name="dollar_rewards" placeholder="Dollar rewards" class="form-control" value="<%= @user_credit_card.dollar_rewards %>">
            </div>
          </div>

          <!-- Label and input for location -->
          <div class="form-group">
            <label for="location" class="col-sm-2 control-label">
              Location
            </label>
            <div class="col-sm-10">
              <textarea id="location" name="location" placeholder="Location" class="form-control" rows="3"><%= @user_credit_card.location %></textarea>
            </div>
          </div>

          <!-- Label and input for purchase_amt -->
          <div class="form-group">
            <label for="purchase_amt" class="col-sm-2 control-label">
              Purchase amt
            </label>
            <div class="col-sm-10">
              <input type="text" id="purchase_amt" name="purchase_amt" placeholder="Purchase amt" class="form-control" value="<%= @user_credit_card.purchase_amt %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update User Credit Card
              </button>
              or
              <a href="/user_credit_cards/<%= @user_credit_card.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
